# PostgreSQL Database Config

DB_URL=jdbc:postgresql://dgedb:5432/chat_storage_db   # JDBC connection URL for the database
DB_USERNAME=dge_admin                                  # Database username
DB_PASSWORD=admin                                     # Database password

# Spring Boot Application Config
SERVER_PORT=8081                                      # Port where Spring Boot app runs
SPRING_PROFILES_ACTIVE=dev                             # Spring profile to activate (dev/prod)
API_KEY=your-api-key-here                              # API key required to access secured endpoints

# pgAdmin Config
PGADMIN_DEFAULT_EMAIL=admin@example.com               # Default email to login pgAdmin
PGADMIN_DEFAULT_PASSWORD=admin                        # Default password for pgAdmin

# Postgres db variables
POSTGRES_DB=chat_storage_db
POSTGRES_USER=dge_admin
POSTGRES_PASSWORD=admin